@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html body {
  /* background: rgb(243, 243, 243); */
  background: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

.linha {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}
.linha2 {
  width: 100%;
  height: 4px;
  background-color: #000000;
}
.linha3 {
  width: 100%;
  height: 4px;
  background-color: #a70a0a;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #fff;
}


/* ====== HEADER ======= */
#header {
  width: 100%;
  height: 75px;

  position: fixed;  

  top: 0;
  left: 0;

  z-index: 100;
  background: #fff;

  transition: background 0.3s;
}

#header.t {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.container-header{
  width: 90%;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header-logo {
  display: flex;
  align-items: center;

}

.header-logo img{
  width: 75px;
}

.header-logo .name-logo {
  font-size: 25px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.header-menu nav ul{
  display: none;

  transition:  0.8s;

  margin: 0;
}

.header-menu nav ul a{
  text-decoration: none;
}

.header-menu nav ul a li{
  list-style: none;
  padding:0px 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.header-menu nav ul a li:hover {
  border-bottom: 2px solid rgb(255, 255, 255)
}


.area-nome{
	display: flex;
	justify-content:center;
	align-items:center;
	width: 300px;
	height: 50px;
	border-radius: 5px;
    position: relative;
	overflow: hidden;
	background-color: #FF0000;
}
.area-cidade{
    position: absolute;
	opacity: 0;
	animation:animacao1 20s infinite;
	font-size: 19px;
	font-family: arial;
	color:#fff
}

@keyframes animacao1{
	25%{
		opacity: 1;
		transform:scale(1.1,1.1);
	}
	50%{
		opacity: 0;
	}
}

.area-cidade:nth-child(1){

}
.area-cidade:nth-child(2){
 animation-delay:10s;
}

/* ====== MENU 2  ====== */
#home {
  margin-bottom: 50px ;
}

#section-menu2 {
  width: 100%;
  height:50px; 
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

 
}

#section-menu2 .header-menu nav ul{
  display: flex;
  margin: 0;
}

#section-menu2 .header-menu nav ul a{
  text-decoration: none;
}


#section-menu2 .header-menu nav ul a li{
  list-style: none;
 
  padding: 0px 10px;
  color: rgb(235, 232, 232);
  font-size: 18px;

  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#section-menu2  .header-menu nav ul a li:hover {
  border-bottom: 2px solid #ffffff
}


/* ======== NOTICIAS ====== */

.area-container {
width: 90%;
height: 444px;
margin: 15px auto;
display: flex;
align-items: center;
}

.area-slider-container {
  width: 90%;
  height: 444px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  
}


.area-slider-container-img {
  height: 444px;
  width:650px
}

.area-slider-container .area-slider-container-img .carousel-item img {
  object-fit: revert;
}

.area-slider-container-img img {
  height: 444px;
  width:650px;
  object-fit: revert;
}

.area-slider-container-texto {
  flex: 1;
    height: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 33px;
}


/* ===== AREA DATE EVENTS ==== */
.area-containerEventes {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.events {
  width: 100%;
  height: 35px;
  border: 1px solid #000;

  display: flex;
  margin-top: 15px;
}

.events .title {
  width: 200px;
  height: 35px;
  background: #FF0000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.events .title h5 {
  color:#fff
}

.events .title-city {
  width: 70%;
  height: 35px;

  display: flex;
  justify-content: center;
}

/*======= FRASE  ===== */
.area-frase {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
}
.area-frase h1 {
  font-family: 'Permanent Marker';
}
.area-frase h1 span {
  color: #FF0000;
  font-size: 55px;

}

.frases-texto {
  width: 600px;
  
}

.frases-texto p {
  text-align: center;
}



/* ==== ABOUT ======= */
#about {
  width: 100%;
  height: 95vh;
  background-color: #1F1F1F;
}

.about-container {
  width: 90%;
  height: 100vh;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.area-apresentacao{
  width: 600px;
  height: 100vh;
}

.bloco-historia {
  width: 502px;
  height: 503px;
  background: rgb(90,57,57);
  background: linear-gradient(0deg, rgba(90,57,57,1) 0%, rgba(252,50,50,1) 99%);
}
.bloco-historia  h2 {
  text-align: center;
  padding-top: 80px;
  color: #fff;
}

.bloco-historia p {
  padding: 20px;
  color: #fff;
  font-size: 17px;
}

.area-medalhas {
  width: 600px;
  height: 100vh;
 
}

.bloco-img, .bloco-medalhas, .bloco-campeonatos {
  width: 100%;
  height: 210px;
  
}
.bloco-img {

}
.bloco-img img {
  width: 450px;
  margin-left: 20px;
}

.bloco-medalhas {
  background: rgb(228, 228, 228);
  height: 196px

}
.bloco-medalhas h2 {
  text-align: center;
  padding: 70px 0px 0px 0px;
  padding-top: 70px;
}
.bloco-numeros {
  margin: auto;
  width: 400px;
  height: 120px;
 
 
  display: flex;
  justify-content: space-between;
}
.b-ouro {
  text-align: center;
}
.b-ouro p {
  font-size: 24px;
  font-weight: 700;
}

.bloco-campeonatos {
  width: 100%;
  height: 210px;
  background: #A93535
}
.bloco-campeonatos h2 {
  padding: 20px 0px 0px 50px;
  color: #fff;
}
.bloco-campeonatos h2 span {
  color: #FC3232;
  font-weight: bold;
}
.bloco-logo {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.l-bloco img {
  width: 70px;
}



/* ==== SENSEI  ======= */
#sensei {
  width: 100%;
  height: 81vh;
  background-image: url('assets/image/sla/kk.jpg');
}

.sensei-bg {
  width: 100%;
  height: 81vh;
  background-color: #000000a8;
  position: relative;
}

#titulo-sensei {
  position: absolute;
  top: -160px;
  left: 0;
  width: 570px;
  height: 200px;
  background-color: #010101;

  display: flex;
  justify-content: center;
  align-items: center;
}
#titulo-sensei h1 {
  color: #fff;
  padding-top: 40px;
}
#titulo-sensei h1 span {
  color: #FC3232;
  font-weight: bold;
}

.sensei-container {
  width: 100%;
  height: 75vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sensei-frase {
  width: 587px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.bloco-sensei-frase {
  width: 310px;
  height: 300px;
  ;
}
.sensei-frase .bloco-sensei-frase p {
 padding-top: 40px;
  font-size: 19px;
  color: #fff;
}

.sensei-slider {
  width: 856px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}
.sensei-slider .slider {
  width: 650px;
  height: 400px;
  position: relative;
  overflow: hidden;
}


/* ==== aarea card======= */

.area-card{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.testimonial .swiper-slide img {
  width: 75px;
}


.area-card .box {
  width: 500px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border: 1px solid #ccc;

  padding: 1.625rem 1rem;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 8%);
  border-radius: 0.25rem;

  margin-left: 15px;
  margin-right: 15px;
  
}

.area-card .box img {
  width: 75px;
}

.area-card .box p {
  text-align: center;
}


/* ===== area sensei ==== */



/* ===== area fotos ===== */

#atletas {
 
  width: 100%;
  height: 100vh;
  background-image: url('assets/image/sla/bg-atleta.jpg');
  background-color: aqua;
}
.bg-atleta {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.637);
}

#atletas h1 {
  text-align: center;
  padding-top: 75px;
  color: #fff;
}
#atletas h1 span {
  color: #FF0000;
  font-weight: bold;
}

.area-atletas {
  width: 80%;
  height: 500px;
  
  margin: auto;
 
  overflow: hidden;
  display: flex;
  align-items: center;
}
.con-atleta {
 
  position: relative;
  height: 450px;
  width: 100%;

}

#atletas .area-atletas .swiper-container .swiper-slide .swiper-slide {
  width: 300px;
}


/* ==== FOTOS ======= */
#locais {
  width: 100%;
  height: 630px;

}

.fotos-container {
  width: 90%;
  height: inherit;
 
  margin: auto;
}
.fotos-container h2 {
  padding: 80px 0px 20px 0px;
  color: #000000;
  text-align: center;
}

.bloco-foto-img {
  width: 100%;
  height: 400px;
 
  display: flex;
  justify-content: center;
}

.bloco-foto-img .card {
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 8%);
  height: 430px;
}

.bloco-foto-img .card .card-img, .card-img-top {
  height: 153px;
}



footer {
  width: 100%;
  height: 220px;
  background-color: #1F1F1F;
}

.area-footer {
  width: 90%;
  height: 220px;
  margin: auto;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
.areaFooter--img {
  width: 75px;
  height: 75px;
  padding-top: 20px;

}
.areaFooter--img img {
  width: 100%;
}

.areaFooter--menu {
  width: 80%;
  height: 100px;
  display: flex;
  padding-top: 20px;
  align-items: center;
 

}

.areaFooter--menu nav ul{
  display: flex;
  padding-left: 220px;
  transition:  0.8s;

  margin: 0;
}

.areaFooter--menu nav ul a{
  text-decoration: none;
}

.areaFooter--menu nav ul a li{
  list-style: none;
  padding:0px 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.areaFooter--menu nav ul a li:hover {
  border-bottom: 2px solid #ffffff
}

.desenvolvedor {
  display: flex;
  align-items: center;
  float: right;
  padding-right:50px ;
  height: 170px;
  justify-self: center;
}
.desenvolvedor a {
  text-decoration: none;
  display: flex;
}
.desenvolvedor h2 {
  color: rgb(185, 185, 185);
  font-size: 12px;
  padding-top: 10px;
}

.desenvolvedor img {
  width: 140px;
}


/* ======Responsivo ====== */