body{
	padding: 0;
	margin: 0px;
	background-color: #2E2E2E;
}

			header{
	display: flex;
	justify-content:center;


}
.top{
	display: flex;
	justify-content:space-between;
	align-items:center;
	height: 75px;
	width: 990px;

	border-radius: 6px;
	
}
.top-esquerdo{
	display: flex;
	justify-content:center;

}
.top-esquerdo a{
	display: flex;
	justify-content:center;
  padding-left: 10px;
}
.titulo{
	display: flex;
	align-items:center;
	font-size: 25px;
    font-family: Arial;
    color: #fff;
    padding-left: 15px;
}
.top-esquerdo a .titulo:hover {
  text-decoration: underline;
}
.logo img{
	width: 75px;
	height: 75px;
}
nav{

	background-color: #2E2E2E;
	width: 500px;
	border-radius: 19px;
}
nav ul{
	display: flex;
	justify-content:center;
	

}
nav ul,li {
	list-style: none;
	padding: 6px;
	margin: 0px;
	color: #fff;

}
nav li{
background-color: red;
margin: 5px;
	border-radius: 6px;

	
}
nav li, a{
	text-decoration: none;
	color: black;
	font-family: Arial;
	color: #fff;
}
nav li:hover{
	background-color: #6E6E6E;
	border-radius: 6px;
}

section{
	display: flex;
	justify-content:center;
	


}
.titulo{
	display: flex;
	justify-content:center;
}

.area-fotos{
	display: flex;
	flex-wrap:wrap;
	jistify-content:center;
	

	width: 990px;
	height:auto;
	background-color: re;
}
.area-fotos img{
	width: 200px;
	height: 150px;
	padding: 5px;
	border-radius: 5px;
}
@media only screen and (max-width:602px){
	.area-fotos{
		width: 350px;
		display: flex;
		justify-content:center;
	}
}

/* novo modo */

*{
	margin: 0;
	padding: 0;
}

.card_img{
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 25px;
}

.small_img{
	height: 100%;
	cursor: pointer;
	transition: all linear 0.4s;
}
.small_img:hover{
	filter: grayscale(100%);
	transform: scale(1.1);
}

.row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#modal_img{
	width: 65vw;
	transform: scale(0);
	transition: all linear .3s;
}

.modal_active #modal_img{
	transform: scale(1);
}
.modal{

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	visibility: hidden;
	z-index: 1;
	opacity: 0;
	transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#bt_close{
	color:#fff;
	background-color: #000;
	position: absolute;
	top:10px;
	right: 10px;
	padding: 5px 10px;
	font-size: 25px;
	border:solid 1px #fff;
	transition: all ease-out .4s;
	cursor: pointer;
}
#bt_close:hover{
	background-color: #f00;
}

.modal_active{
	visibility: visible;
	opacity: 1;

}